* {
  margin: 0;
  padding: 0;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .img1 {
    width: 44.98px;
    height: 28px;
    margin-left: 16px;
    margin-top: 28px;
}

.menu {
    margin-left: 258.02px;
    cursor: pointer;
}

.menuBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    height: 100vh;
    width: 100vw;
}

.menuList {
  background-color: white;
  margin-left: 119px;
  height: 100vh;
  width: 100vw;
}

.menuClose {
  margin-left: 204.8px;
  margin-top: 27.3px;
  width: 30.41px;
  height: 30.41px;
  margin-bottom: 86.3px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-left: 24px;
}

li {
  margin-bottom: 24px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.mainImage {
  width: 343px;
  height: 300px;
}

.module1 {
  margin-bottom: 32px ;
}

.mainSection {
  display: flex;
  justify-content: center;
  width: 100vw;
}

}